.input-list {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-top: 30px;
  margin-left: 50px;

  p {
    color: #111827;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 113px;
  }

  .input-label {
    width: 400px;
    position: relative;
  }

  label {
    position: absolute;
    top: -9px;
    left: 14px;

    background-color: white;

    color: #6B7280;
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    /* 191.714% */

    z-index: 1;

    transition: all 0.3s ease-in-out;
  }

  input,
  select {
    width: 100%;
    padding: 6.5px 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);

    color: #111827;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    transition: all 0.3s ease-in-out;
  }
}

.input-list:focus-within {
  label {
    color: #4F46E5;
    transform: translateY(-10px);
  }

  input {
    border: 1px solid #4F46E5;
  }
}