.body {
  display: flex;
  width: 100%;
  height: calc(100% - 75px);
  padding-left: 40px;

  list-style: none;
}

.body .item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  padding-inline: 16px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    border-bottom: 1px solid gray;

    color: #111827;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.body .input-container {
  width: 100%;
}

.body .item-container button {
  width: 158px;
  height: 42.25px;

  margin-top: 25px;

  flex-shrink: 0;

  border-radius: 28px;
  border: 0;
  background: #4F46E5;

  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.25px;
  /* 175% */

  margin-bottom: 100px;
}

.body ul {
  width: 100%;

  margin-bottom: 200px;
}

.body ul li {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-top: 30px;
  margin-left: 50px;

  p {
    color: #111827;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 113px;
  }

  .input-label {
    width: 400px;
    position: relative;
  }

  label {
    position: absolute;
    top: -9px;
    left: 14px;

    background-color: white;

    color: #6B7280;
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    /* 191.714% */

    z-index: 1;

    transition: all 0.3s ease-in-out;
  }

  input,
  select {
    width: 100%;
    padding: 6.5px 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);

    color: #111827;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    transition: all 0.3s ease-in-out;
  }
}

.body ul li:focus-within {
  label {
    color: #4F46E5;
    transform: translateY(-10px);
  }

  input {
    border: 1px solid #4F46E5;
  }
}